BasedOnStyle: Google
Language: Cpp
Standard: 'Latest'
IndentWidth: 2

ColumnLimit: 85

AlignAfterOpenBracket: 'true'
AlignConsecutiveMacros: 'true'
AlignOperands: 'true'
AccessModifierOffset: 0

AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowShortIfStatementsOnASingleLine: 'Never'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'None'
AllowShortLoopsOnASingleLine: 'false'

BreakBeforeBraces: Allman
BinPackArguments: 'false'
BinPackParameters: 'false'

Cpp11BracedListStyle: 'false'

SpaceInEmptyBlock: 'true'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeParens: 'ControlStatements'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeRangeBasedForLoopColon: 'true'

NamespaceIndentation: 'All'