BasedOnStyle: Google
Language: Cpp
Standard: "Latest"
IndentWidth: 2

ColumnLimit: 85

AlignAfterOpenBracket: true
AlignConsecutiveMacros: true
AlignOperands: true
AccessModifierOffset: 0

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterStruct: true
  AfterFunction: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeElse: true
  AfterControlStatement: Always

BinPackArguments: "false"
BinPackParameters: "false"

Cpp11BracedListStyle: "false"

SpaceInEmptyBlock: "true"
SpaceAfterTemplateKeyword: "false"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeParens: "ControlStatements"
SpaceBeforeCtorInitializerColon: "true"
SpaceBeforeRangeBasedForLoopColon: "true"

NamespaceIndentation: "All"
